html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: blue;
  padding: 2px;
  border-radius: 3px;
}
.navbar ul {
  /* margin-top: 0; */
  padding-top: 5px;
  padding-bottom: 5px;
  background: #0cb8b6;
}
.navbar ul div {
  display: inline;
}
.navbar ul div li {
  display: inline;
  font-size: 25px;
}
.navbar ul div li a {
  color: #fff;
}
.list li {
  margin-right: 30px;
  margin-left: 40px;
}
/* .sig li {
  background-color: rgb(51, 15, 15);
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
} */
/* End Navbar */

/* Start about */
.about {
  display: flex;
}
.about-text {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  width: 44%;
}
.about-img {
  width: 50%;
}
/* end about */

/* Start Our Services */

.services div {
  max-width: 400px;
  display: inline-block;
  padding: 5px;
  margin-left: 8px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.services div img {
  height: 300px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.s-name {
  text-align: center;
}

.heading {
  text-align: center;
  color: #0cb8b6;
  font-size: 50px;
  /* background: #0cb8b6; */
}
